<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Reset Enklave Password</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <!-- jQuery CDN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <!-- jQuery local fallback -->
    <script>
    window.jQuery || document.write('<script src="/static/rest_framework/js/jquery-1.8.1-min.js"><\/script>')
    </script>
    <!-- Bootstrap JS CDN -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- Bootstrap JS local fallback -->
    <script>
        $.fn.modal || document.write('<script src="/static/rest_framework/js/bootstrap.min.js">\x3C/script>')
    </script>
</head>
<body>
<div class="center-block row" style="padding-top:20px">
    <div class="col-sm-4">
        {% if errors %}
        <div>
            {% for error in errors %}
            {{ error }}
            {% endfor %}
        </div>
        {% endif %}
        <div>
            <h3 class="text-primary">Reset Your Password For Enklave</h3>
        </div>
        <form action="{% url 'reset_password' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="token_code" value="{{token_code}}"/>
            <label for="password">New password for {{ username }}</label><br />
            <input type="password" class="form-control" id="password" name="password" /><br />
            <label for="password_repeat">repeat password </label><br />
            <input type="password" class="form-control" id="password_repeat" name="password_repeat" /><br />
            <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Change password" />
        </form>
    </div>
</div>
</body>
</html>